In [2]:
#Dependencies
import pandas as pd

In [12]:
#Path to the CSV file
file = "Resources/purchase_data.csv"

In [14]:
#Read our purchase_data into pandas
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
#Display the total number of players
players_df = purchase_data_df.groupby("SN")["SN"].nunique()
players_df.count()

576

In [30]:
#Number of unique items
items_df = len(purchase_data_df["Item ID"].unique())
items_df

179

In [31]:
#Average purchase price
average_price_df = purchase_data_df["Price"].mean()
average_price_df

3.0509871794871795

In [32]:
#Total number of purchases
total_purchases_df = purchase_data_df["Price"].count()
total_purchases_df

780

In [33]:
#Total revenue
total_revenue_df = purchase_data_df["Price"].sum()
total_revenue_df

2379.77

In [35]:
#Purchasing Analysis (Total)
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":items_df,
                                      "Average Purchase Price":[average_price_df.round(2)],
                                      "Total Number of Purchases":[total_purchases_df],
                                      "Total Revenue":[total_revenue_df]})
purchasing_analysis_df = purchasing_analysis_df.round(2)
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Number of Purchases"] = purchasing_analysis_df["Total Number of Purchases"].map("{:,}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purhcasing_analysis_df = purchasing_analysis_df.loc[:,["Number of Unique Items", "Average Purchase Price", "Total Number of Purchases", "Total Revenue"]]
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [41]:
#Gender Count
gender_count_df = purchase_data_df.groupby("Gender")["SN"].nunique()
gender_count_df.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [46]:
#Gender percentage
gender_percentage_df = gender_count_df/576 * 100
gender_percentage_df.round(2)

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [52]:
#Gender demographics dataframe
gender_demographics_df = pd.DataFrame({"Total Count": gender_count_df, 
                                       "Percentage of Players": gender_percentage_df})
gender_demographics_df = gender_demographics_df.round(2)
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:,.2f}%".format)
gender_demographics_df = gender_demographics_df.reindex(index=['Male', "Female", 'Other / Non-Disclosed'])
gender_demographics_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [53]:
#Total purchases by gender
gender_purchases_df = purchase_data_df.groupby("Gender")["Item Name"]
gender_purchases_df.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [55]:
#Average purchase price by gender
gender_average_df = purchase_data_df.groupby("Gender")["Price"].mean()
gender_average_df.round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [56]:
#Total purchase value by gender
gender_total_df = purchase_data_df.groupby("Gender")["Price"].sum()
gender_total_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [57]:
#Average total purchase per person
person_total_df = gender_total_df/gender_count_df
person_total_df.round(2)

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [59]:
#Purchasing Analysis (Gender)
gender_analysis_df = pd.DataFrame({"Purchase Count": gender_purchases_df.count(), 
                                   "Average Purchase Price": gender_average_df,
                                   "Total Purchase Value": gender_total_df,
                                   "Avg Total Purchase per Person": person_total_df})
gender_analysis_df = gender_analysis_df.round(2)
gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [105]:
#Create bins (by 4 years) to hold the age data
bins = [0,9,14,19,24,29,34,39,100]
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [130]:
#Cut the data
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins=bins,right = True, labels=age_ranges)

In [131]:
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>=40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [135]:
#Count number of people within age groups
total_age_count_df = purchase_data_df.groupby("Age Range")["SN"].nunique()
total_age_count_df

Age Range
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
>=40      12
Name: SN, dtype: int64

In [155]:
#Percentages of age groups
age_group_percentage_df = total_age_count_df/players_df.count() * 100
age_group_percentage_df.round(2)

Age Range
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
>=40      2.08
Name: SN, dtype: float64

In [156]:
#Age Demographics Analysis Table
age_demographics_analysis_df = pd.DataFrame({"Total Count": total_age_count_df,
                                             "Percentage of Players": age_group_percentage_df})
age_demographics_analysis_df = age_demographics_analysis_df.round(2)
age_demographics_analysis_df["Percentage of Players"] = age_demographics_analysis_df["Percentage of Players"].map("{:,.2f}%".format)
age_demographics_analysis_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
>=40                12                 2.08%

In [157]:
#Purchase count by age range
age_group_count_df = purchase_data_df.groupby("Age Range")["Item Name"]
age_group_count_df.count()

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
>=40      13
Name: Item Name, dtype: int64

In [158]:
#Average purchase price by age range
age_group_average_df = purchase_data_df.groupby("Age Range")["Price"].mean()
age_group_average_df.round(2)

Age Range
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
>=40     2.94
Name: Price, dtype: float64

In [159]:
#Total purchase price by age range
age_group_total_df = purchase_data_df.groupby("Age Range")["Price"].sum()
age_group_total_df

Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
>=40       38.24
Name: Price, dtype: float64

In [162]:
#Average purchase total per person by age
age_purchase_total_df = age_group_total_df/total_age_count_df
age_purchase_total_df.round(2)

Age Range
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
>=40     3.19
dtype: float64

In [163]:
#Purchasing Analysis (Age)
age_analysis_df = pd.DataFrame({"Purchase Count": age_group_count_df.count(), 
                                   "Average Purchase Price": age_group_average_df,
                                   "Total Purchase Value": age_group_total_df,
                                   "Avg Total Purchase per Person": age_purchase_total_df})
age_analysis_df = age_analysis_df.round(2)
age_analysis_df["Average Purchase Price"] = age_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
age_analysis_df["Total Purchase Value"] = age_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
age_analysis_df["Avg Total Purchase per Person"] = age_analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
>=40,13,$2.94,$38.24,$3.19

In [2]:
#Player purchases 
player_purchases_df = purchase_data_df("Price")["SN"].sum()
players_purchases_df

NameError: name 'purchase_data_df' is not defined