In [2]:
#Dependencies
import pandas as pd

In [12]:
#Path to the CSV file
file = "Resources/purchase_data.csv"

In [14]:
#Read our purchase_data into pandas
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
#Display the total number of players
players_df = purchase_data_df.groupby("SN")["SN"].nunique()
players_df.count()

576

In [18]:
#Number of unique items
items_df = purchase_data_df.groupby("Item Name")["Item Name"].nunique()
items_df.count()

179

In [19]:
#Average purchase price
average_price_df = purchase_data_df["Price"].mean()
average_price_df.round(2)

3.05

In [23]:
#Total number of purchases
total_purchases_df = len(purchase_data_df)
total_purchases_df

780

In [24]:
#Total revenue
total_revenue_df = purchase_data_df["Price"].sum()
total_revenue_df.round(2)

2379.77

In [28]:
#Purchasing Analysis (Total)
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[items_df],
                                      "Average Purchase Price":[average_price_df.round(2)],
                                      "Total Number of Purchases":[total_purchases_df],
                                      "Total Revenue":[total_revenue_df]})
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,Item Name Abyssal Shard 1...,3.05,780,2379.77